* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  list-style: none;
  /* overflow: hidden; */
}

nav {
  height: 10vh;
  width: 100vw;
  display: flex;
  position: fixed;
  z-index: 999999;
  background-color: rgba(74, 45, 18, 0.479);
}
.navbar-above-px {
  height: 10vh;
  width: 100vw;
  display: flex;
  position: fixed;
  z-index: 999999;
  background-color: rgba(74, 45, 18, 0.479);
  animation: fadeDownNavBar 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeDownNavBar {
  0% {
    top: -80px;
  }
  100% {
    top: 0px;
  }
}

.navbar-below-px {
  animation: fadeUpNavBar 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeUpNavBar {
  0% {
    top: 0px;
  }
  100% {
    top: -80px;
  }
}

.titles-holder-li-a-below-px {
  color: rgb(222, 132, 50);
  background-color: rgba(0, 0, 0, 0);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.titles-holder {
  display: flex;
  height: 100%;
  justify-content: space-around;
  width: 50%;
  align-items: center;
  margin-left: 6vw;
  font-size: 3vh;
  right: 100px;
  position: absolute;
}
.tit-holder-li-a {
  color: rgb(222, 132, 50);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 6px;
  padding: 5px;
}

section {
  width: 100%;
  height: 100vh;
  position: absolute;
}

#cover-vid {
  top: 0vh;
}

#home {
  top: 100vh;
  font-weight: 400;
  z-index: 1;
  background-color: #de8432;
}

#screen-title {
  color: rgb(222, 132, 50);
  font-size: 10.5rem;
  font-weight: bold;
  position: absolute;
  z-index: 999;
  top: 35vh;
  left: 30vw;
  font-family: "Permanent Marker", cursive;
  background-color: rgba(74, 45, 18, 0.479);
  padding-left: 30px;
  padding-right: 30px;
}

.img-beer-1,
.img-beer-2 {
  width: 80%;
  position: relative;
}

.div-beer-1,
.div-beer-2 {
  position: absolute;
  top: 21vh;
  left: 5vw;
  width: 19vw;
}
.div-beer-2 {
  left: 28vw;
  animation: fadeBirraTit 1.5s;
  animation-delay: 0.3s;
}
.div-beer-1 {
  animation: fadeBirraTit 1.5s;
}
.img-beer-1 {
  animation: moveBeer1 1.5s;
  transition: 0.5s;
  transform: rotateZ(355deg);
}
.img-beer-2 {
  animation: moveBeer2 1.5s;
  animation-delay: 0.3s;
  opacity: 0;
  animation-fill-mode: forwards;
  transition: 0.5s;
  transform: rotateZ(5deg);
}

.img-beer-2:hover {
  transform: scale(1.2);
}

.img-beer-1:hover {
  transform: scale(1.2);
}

.text-p1 {
  position: absolute;
  top: 25vh;
  left: 58vw;
}

.text-p1 a {
  font-size: 3.5rem;
  font-weight: 100;
  font-style: italic;
  color: white;
  text-shadow: 2px 2px black;
}
.text-p1 b {
  font-size: 2rem;
  color: white;
  text-shadow: 2px 1px black;
}
.b2 {
  font-size: 2rem;
  display: block;
}

.text-p1 span {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.activex {
  animation: foto-birra 2s linear forwards;
}

@keyframes foto-birra {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes moveBeer1 {
  from {
    top: -50px;
  }
  to {
    top: 0px;
  }
}

@keyframes moveBeer2 {
  from {
    top: -50px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}

#variedades {
  top: 200vh;
  position: absolute;
  background-color: #895e3b;
}

.titbirra {
  width: 600px;
  height: 200px;
  float: right;
  right: 790px;
  top: 60vh;
  animation: 1s;
  animation-delay: 1s;
  animation: fadeBirraTit 1.5s;
  position: absolute;
}

@keyframes fadeBirraTit {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes moveBirraTit {
  from {
    top: -60vh;
  }
  to {
    top: -70vh;
  }
}

.titbirra a {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  font-style: italic;
  display: block;
  color: white;
  text-shadow: 2px 1px black;
}

#tit-birra-fixed1 {
  display: inline;
}
#tit-birra-variable {
  display: inline;
  position: absolute;
  left: 150px;
}

.beer-word-original {
  animation: downWordOriginal 0.5s;
}

.beer-word-active {
  animation: downWordActive 0.5s;
  opacity: 0;
}

@keyframes downWordOriginal {
  0% {
    top: -15px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}
@keyframes downWordActive {
  0% {
    top: 0px;
    opacity: 1;
  }
  100% {
    top: 15px;
    opacity: 0;
  }
}

#contacto {
  top: 400vh;
}
#bottom-rect {
  top: 400vh;
  height: 60vh;
  background-color: rgb(61, 61, 61);
}

.video-screen {
  object-fit: cover;
  width: 100%;
  height: 100vh;
}

.cover-picture-beers {
  position: absolute;
  z-index: 9999;
  width: 100%;
  background-image: url(/src/beers-cover.jpg);
  height: 50vh;
  background-size: cover;
}
.second-picture-beers {
  position: absolute;
  z-index: 9999;
  width: 50%;
  background-image: url(/src/second-beer-friends.jpg);
  height: 50vh;
  background-size: cover;
  top: 50vh;
  left: 50vw;
}

#book-button {
  color: white;
  font-size: 0.8rem;
  text-align: center;
  text-decoration: none;
  font-style: italic;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.button-cointainer {
  background-color: #de8432;
  width: 150px;
  height: 50px;
  border-radius: 15px;
  border: 0px;
  left: 43vw;
  position: absolute;
  top: 19vh;
  text-align: center;
  line-height: 50px;
}

.subt-container {
  position: absolute;
  left: 28vw;
  top: 8vh;
}

.subt-reservas {
  color: white;
  font-size: 2rem;
  font-style: italic;
}

.company-name-a {
  font-family: "Permanent Marker", cursive;
  font-size: 2rem;
  color: #de8432;
}
