* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  list-style: none;
}

nav {
  height: 10vh;
  width: 100vw;
  display: flex;
  box-shadow: 0px 4px 15px -3px rgb(0 0 0 / 10%);
  position: fixed;
  z-index: 9999;
}

.navbar-below-px {
  background-color: white;
}

.titles-holder {
  display: flex;
  height: 100%;
  justify-content: space-around;
  width: 50%;
  align-items: center;
  margin-left: 6vw;
  font-size: 3vh;
  right: 100px;
  position: absolute;
}
.titles-holder li a {
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}
section {
  width: 100%;
  height: 100vh;
  position: absolute;
}

#home {
  top: 100vh;
  font-weight: 400;
  z-index: 1;
  background-color: rgb(222, 132, 50);
}

.img-beer-1,
.img-beer-2 {
  width: 80%;
  position: relative;
}

.div-beer-1,
.div-beer-2 {
  position: absolute;
  top: 21vh;
  left: 5vw;
  width: 22vw;
}
.div-beer-2 {
  left: 28vw;
  animation: fadeBirraTit 1.5s;
  animation-delay: 0.3s;
}
.div-beer-1 {
  animation: fadeBirraTit 1.5s;
}
.img-beer-1 {
  animation: moveBeer1 1.5s;
  transition: 0.5s;
  transform: rotateZ(355deg);
}
.img-beer-2 {
  animation: moveBeer2 1.5s;
  animation-delay: 0.3s;
  opacity: 0;
  animation-fill-mode: forwards;
  transition: 0.5s;
  transform: rotateZ(5deg);
}

.img-beer-2:hover {
  transform: scale(1.2);
}

.img-beer-1:hover {
  transform: scale(1.2);
}

.text-p1 {
  position: absolute;
  top: 25vh;
  left: 58vw;
}

.text-p1 a {
  font-size: 3.5rem;
  font-weight: 100;
  font-style: italic;
  color: white;
  text-shadow: 2px 2px black;
}
.text-p1 b {
  font-size: 2rem;
  color: white;
  text-shadow: 2px 2px black;
}
.b2 {
  font-size: 2rem;
  display: block;
}

.text-p1 span {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.activex {
  animation: foto-birra 2s linear forwards;
}

@keyframes foto-birra {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes moveBeer1 {
  from {
    top: -50px;
  }
  to {
    top: 0px;
  }
}

@keyframes moveBeer2 {
  from {
    top: -50px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}

#variedades {
  top: 200vh;
  position: absolute;
}

* {
  box-sizing: border-box;
}
.cap-text {
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  height: 9vh;
  line-height: 9vh;
}

.beer-imgs {
  width: 100%;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.titbirra {
  width: 600px;
  height: 200px;
  float: right;
  right: 780px;
  top: 40vh;
  animation: 1s;
  animation-delay: 1s;
  animation: fadeBirraTit 1.5s;
  position: absolute;
}

@keyframes fadeBirraTit {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes moveBirraTit {
  from {
    top: -60vh;
  }
  to {
    top: -70vh;
  }
}

.titbirra a {
  font-family: "Montserrat", sans-serif;
  font-size: 4.5rem;
  font-style: italic;
  display: block;
}

#tit-birra-fixed1 {
  display: inline;
}
#tit-birra-variable {
  display: inline;
  position: absolute;
  left: 186px;
}

.beer-word-original {
  animation: downWordOriginal 0.5s;
}

.beer-word-active {
  animation: downWordActive 0.5s;
  opacity: 0;
}

@keyframes downWordOriginal {
  0% {
    top: -15px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}
@keyframes downWordActive {
  0% {
    top: 0px;
    opacity: 1;
  }
  100% {
    top: 15px;
    opacity: 0;
  }
}

#resenas {
  top: 0vh;
}

#contacto {
  top: 400vh;
}
#bottom-rect {
  top: 400vh;
  height: 60vh;
  background-color: rgb(61, 61, 61);
}
.custom-shape-divider-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top svg {
  position: relative;
  display: block;
  width: calc(187% + 1.3px);
  height: 300px;
}

.custom-shape-divider-top .shape-fill {
  fill: rgb(222, 132, 50);
}

.video-screen {
  object-fit: cover;
  width: 100%;
  height: 100vh;
}
