.overlay-modal {
  height: 100%;
  width: 100%;
  background: rgba(49, 49, 49, 0.945);
  position: absolute;
  z-index: 999999999;
}

.modal-container {
  background-color: rgb(221, 221, 221);
  height: 450px;
  width: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 6px;
}

.close-button {
  background-color: rgb(202, 18, 18);
  border-radius: 50%;
  font-weight: bold;
  width: 30px;
  height: 30px;
  border-width: 0;
  position: absolute;
  cursor: pointer;
  right: -10px;
  top: -10px;
}

.modal-container-container {
  background-color: rgb(221, 221, 221);
  position: absolute;
  width: 100%;
  height: 20%;
}
.first-div {
  top: 15%;
}
.second-div {
  top: 35%;
  width: 50%;
}
.third-div {
  top: 55%;
  height: 30%;
}
.fourth-div {
  top: 35%;
  width: 50%;
  left: 50%;
}

.modal-title {
  background-color: #dd8431;
  border-radius: 6px;
}

.modal-title h1 {
  text-shadow: 2px 2px white;
  font-size: 2.5rem;
  z-index: 999;
  position: absolute;
  color: black;
  transform: translate(-50%, 0%);
  width: 64%;
  left: 50%;
  top: 8px;
  font-style: italic;
}

.container-p-picture {
  top: 50%;
  transform: translate(0%, -50%);
  position: absolute;
  left: 5%;
  color: black;
}

.container-p-input {
  top: 10%;
  position: absolute;
  left: 5%;
  color: black;
}

.container-p-picture-second-div {
  left: 10%;
}
.container-p-picture-fourth-div {
  left: 10%;
}
.container-input {
  top: 48%;
  position: absolute;
  left: 5%;
  color: black;
  border-radius: 2px;
  border-width: 2px;
}

.second-div-input {
  height: 20px;
  width: 80%;
  font-size: 0.9rem;
  left: 10%;
}
.third-div-input {
  height: 50%;
  width: 90%;
  font-size: 1rem;
  top: 35%;
}
.fourth-div-input {
  height: 20px;
  width: 80%;
  font-size: 0.9rem;
  left: 10%;
}

.confirm-button {
  background-color: #dd8431;
  border-radius: 15px;
  font-weight: bold;
  width: 90px;
  height: 30px;
  border-width: 0;
  position: absolute;
  cursor: pointer;
  left: 50%;
  transform: translate(-50%, 0%);
  bottom: 16px;
}
